* {
    padding:0;
    margin:0;
}

h3 {
    width: 200px;
    height: 50px;
    font:700 20px/50px "microsoft yahei";
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: all 1s;
    transform: translateX(-1000px);
}



.current h3 {
    transform: translateX(100px) translateY(100px);
}